<%- include('_header.ejs') %>

<%- include('_navbar') %>

<div class="container mt-5">

  <div class="row">
    <div class="col-md-6 offset-md-3">
      <div class="alert alert-danger text-center" role="alert">
        <h4 class="alert-heading">Ups!</h4>
        <p>Parece que el producto que buscas, no se encuentra en nuestra base de datos.</p>
        <hr>
        <p class="mb-0"><a href="/">Volver al Home.</a> </p>
      </div>
    </div>
  </div>



</div>

<%- include('_footer.ejs') %>